.Cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.Passagens{
    background-color: rgb(255, 223, 223, 0.9);
    padding: 0.4em;
    border-radius: 0.4em;
    font-size: 2.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 32, 119, 0.9);
  color: white;
  flex-wrap: wrap;


  padding: 2em;
  border-radius: 1em;
  margin: 1em;


  height: 50vh;
}

p{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
